a:hover {
  text-decoration:none;
}

.definition-H 
{ 
  position:absolute; 
  top:1em; 
  left:0;
  background:white;
  display:none;
  z-index:30000;
  color:black;
  font-size:10px;
  padding:4px;
  text-decoration:none;
  border:solid 1px silver;
  text-align:left;
  font-weight:normal;
  font-style:normal;
  width:15em;
  color: #4B7A98;
  background: #D5EBF9;
  filter: alpha(opacity=92); 
  opacity: 0.92; 
} 

span.word-H:hover .definition-H
{ 
  display:block;
  text-decoration:none;
} 

.word-H 
{
  position:relative;
  background-color: #F4FBFA;
  text-decoration:none;
}
